<%= form_with(model: call, local: true) do |form| %>
  <% if call.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(call.errors.count, "error") %> prohibited this call from being saved:</h2>

      <ul>
      <% call.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <% Register.all.each do |foro| %>
      <li class ="<%= 'active' if params[:foro]== foro.comuna %>">
        <%= link_to foro.comuna, calls_path(foro: foro.comuna), class: "link" %>
      </li>
    <% end %>
  </div>
</div>



  <%= simple_form_for @call do |c| %>

    <%= select_tag(:register_id, options_for_select(@registers), :prompt => "Seleccionar una comuna") %>
    <p> </p>
    <%= c.label :fecha_llamado %>
    <%= c.datetime_select :fecha_llamado, id: :call_fecha_llamado %>
    <%= c.label :fecha_retiro %>
    <%= c.datetime_select :fecha_retiro, id: :call_fecha_retiro  %>
    <%= form.label :status %>
    <%= form.text_field :status, id: :call_status %>
    <%= c.button :submit, 'Crear' %>

  <% end %>


<% end %>
