<p id="notice"><%= notice %></p>

<div class="jumbotron text-center">
 <h1>INGRESO DE LLAMADAS</h1>
 <%= button_to "Crear Llamada", new_call_path, :id => "open-contacts-dialog-btn",
       :class => "inbox-sf-add-btn tip", :method => :get %>
</div>


<div class = "container text-center">
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Filtrar por comuna
      <span class="caret"></span>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <% @comunas.each do |comuna| %>
        <li>
          <%= link_to comuna, calls_path(filtro_comuna: comuna), class: "link" %>
        </li>
      <% end %>
    </div>
  </div>
</div>
<br>


<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Fella Llamado</th>
        <th>Fecha Retiro</th>
        <th>Estado</th>
        <th>Comuna</th>
        <th>Calle</th>
        <th>Número</th>
      </tr>
    </thead>
    <tbody>
      <% @calls.each do |call| %>
        <tr>
          <td><%= call.fecha_llamado %></td>
          <td><%= call.fecha_retiro %></td>
          <td><%= call.status %></td>
          <td><%= call.register.comuna %></td>
          <td><%= call.register.calle %></td>
          <td><%= call.register.numero %></td>
          <td><%= link_to 'Show', call %></td>
          <td><%= link_to 'Edit', edit_call_path(call) %></td>
          <td><%= link_to 'Destroy', call, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>
<div class = "container text-center">
  <%= link_to 'Atrás', welcome_index_path, class: "btn btn-default btn-lg"  %>
</div>
